.post-page {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  a {
    color: white;
  }
}

.info {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  color: white;
  padding: 1rem;
}

#inner-nav {
  user-select: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 1.5rem;
  a {
    text-decoration: none;
  }
}

.go-back-link {
  // text-decoration: none;
}

.example-title {
  font-size: 18px;
  line-height: 42px;
  margin-bottom: 0;
}

.example-desc {
  font-size: 13px;
  line-height: 24px;
  max-width: 500px;
  margin-top: 0;
}

.example-source {
  font-size: 14px;
  margin-top: 10px;
}

.example-link {
  list-style: none;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.examples-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.example-thumb {
  display: block;
  margin-bottom: 10px;
}

#no-webgpu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

#no-webgpu {
  max-width: 500px;
}

