<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Primary Meta Tags -->
    <title>WebGPU Sketch Dojo</title>
    <meta name="title" content="WebGPU Sketch Dojo">
    <meta name="description" content="Experiments with the WebGPU API">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gnikoloff.github.io/webgpu-dojo/">
    <meta property="og:title" content="WebGPU Sketch Dojo">
    <meta property="og:description" content="Experiments with the WebGPU API">
    <meta property="og:image" content="{{ '/assets/webgpu-sketch-dojo-social.png' | url }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://gnikoloff.github.io/webgpu-dojo/">
    <meta property="twitter:title" content="WebGPU Sketch Dojo">
    <meta property="twitter:description" content="Experiments with the WebGPU API">
    <meta property="twitter:image" content="{{ '/assets/webgpu-sketch-dojo-social.png' | url }}">

    <meta http-equiv="origin-trial" content="ApnZk39sO3Q+lljvINrC5NTwT1dkQEL5+ZByhKaeNrWwVeLh3cR0J9sMX1RnliEL0xenje+RZpfi70NEfwK6xAsAAABmeyJvcmlnaW4iOiJodHRwczovL2duaWtvbG9mZi5naXRodWIuaW86NDQzIiwiZmVhdHVyZSI6IldlYkdQVSIsImV4cGlyeSI6MTY1MjgzMTk5OSwiaXNTdWJkb21haW4iOnRydWV9">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    
  </head>
  <body class="post-page">
    <canvas id="gpu-c"></canvas>
    <div class="info">
      <a href="{{'/' | url}}" class="go-back-link">&larr;&nbsp;&nbsp;Home</a>
      <small>{{ date | date: "%-d %B %Y" }}</small>
      <h1 class="example-title">{{ title }}</h1>
      <p class="example-desc">{{ description }}</p>
      <a
        class="example-source"
        href="https://github.com/gnikoloff/webgpu-dojo/blob/master/src/examples/{{ id }}"
      >
        Source Code
      </a>
    </div>
    <nav id="inner-nav">
      <a href="{{ '/examples/' | append: prevDemoId | url }}">
        &larr;&nbsp;&nbsp;{{ prevDemoTitle }}
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{{ '/examples/' | append: nextDemoId | url }}">
        {{ nextDemoTitle }}&nbsp;&nbsp;&rarr;
      </a>
    </nav>

    <script type="text/javascript">
      window.ASSETS_BASE_URL = "{{ '/assets/' | url }}"    
    </script>
    
    <script src="{{'/' | append: '/examples/' | append: id | append: '/bundle.js' | url}}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-209778909-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-209778909-1');
    </script>

  </body>
</html>